<form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
        <label for="local" class="form-label">Local</label>
        <input type="text" class="form-control" id="local" formControlName="local">
        @if (form.controls["local"]; as local) {
          @if (local.touched && local.invalid) {
            <span>Debe ingresar el campo local</span>
            }
        }
    </div>
    <div class="mb-3">
        <label for="visitor" class="form-label">Visitante</label>
        <input formControlName="visitor" type="text" class="form-control" id="visitor">
        @if (form.controls["visitor"].invalid) {
            <span>Debe ingresar el campo visitante</span>
        }
      </div>
      <div class="mb-3">
        <label for="localScore" class="form-label">Goles Local</label>
        <input formControlName="localScore" type="number" class="form-control" id="localScore" >
        @if (form.controls["localScore"]; as localScore) {
          @if (localScore.invalid) {
            @if (localScore.errors?.['required']) {
              <span>El campo es requerido</span>
            }
          }
        }
      </div>
      <div class="mb-3">
        <label for="visitorScore" class="form-label">Goles Visitante</label>
        <input formControlName="visitorScore" type="number" class="form-control" id="visitorScore">
        @if (form.controls["visitorScore"]; as visitorScore) {
            @if (visitorScore.invalid) {
              @if (visitorScore.getError('required')) {
                <span>El campo gol visitante es requerido</span>
              }
              @if (visitorScore.getError('min')) {
                <span>El campo gol visitante debe ser mayor a 
                  {{visitorScore.getError('min').min}} 
                  pero el valor actual es
                  {{visitorScore.getError('min').actual}} 
                </span>
              }
          }
        }
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Fecha</label>
        <input formControlName="date" type="date" class="form-control" id="date" 
            [min]="today | date:'yyyy-MM-dd'">
      </div>
      <!-- <button class="btn btn-primary" type="submit" 
      [disabled]="form.invalid">
        Guardar
      </button> -->
      <button class="btn btn-primary" type="submit">
        Guardar
      </button>
</form>

{{form.value | json}}
