<!-- <p *ngIf="matchSelected">
    Seleccionado: {{matchSelected}}
</p> -->
@if (matchSelected) {
    <p [ngStyle]="{
        color: 'red'
    }">
        Seleccionado: {{matchSelected.local | uppercase }}
    </p>
    <input [(ngModel)]="matchSelected.local" required>
} @else {
    <!-- BLOQUE ELSE -->
}

@for(match of matches; track match; let index = $index) {
    <app-match-info
        [ngClass]="{
            'title': index == 1
        }"
        [index]="index"
        [local]="match.local"
        [visitor]="match.visitor"
        [localScore]="match.localScore"
        [visitorScore]="match.visitorScore"
        [date]="match.date"
        (selectedMatch)="onSelected($event)"
    />
}

<button (click)="onDeleteLastItem()">Eliminar último</button>

<app-match-form (onSave)="addNewMatch($event)"></app-match-form>

<!-- <p>Mi Fecha: {{ myDate | date:'short' }}</p> -->

<!-- <app-match-info *ngFor="let match of matches" 
    [match]="match"
    (selectedMatch)="onSelected($event)"
/> -->


<!-- <app-match-info [match]="matches[0]" 
(selectedMatch)="onSelected($event)" />
<app-match-info [match]="matches[1]" 
(selectedMatch)="onSelected($event)" /> -->