@for(match of matches; track match; let index = $index) {
    <app-match-info
        [ngClass]="{
            'title': index == 1
        }"
        [index]="index"
        [id]="match.id"
        [local]="match.local"
        [visitor]="match.visitor"
        [localScore]="match.localScore"
        [visitorScore]="match.visitorScore"
        [date]="match.date"
        (selectedMatch)="onSelected($event)"
        (deletedMatch)="onDeleted()"
    />
}

<button (click)="onDeleteLastItem()">Eliminar último</button>
<button (click)="onNew()">Agregar</button>